{% extends 'base.html' %}
    
{% block title %} Home | Zetta Blog {% endblock%}

{% block content %}

    
<div class="container">

  <div class="row">
    <div class="col-3">
      <div class="card card-body">
        <h5 class="card-title fw-bold"> Category</h5>
      </div>
      {% for i in post %}
      <div class="card card-body mt-3">
        <h5 class="card-title fw-bold"> {{i.model_cat}}</h5>
      </div>
      {% endfor %}
    </div>

    <div class="col-6">
      {% for i in post %}
      <div class="card" style="width: auto; margin-bottom: 1rem;">
        
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ i.model_title}}</h5>
          <p class="card-text" style="margin-top: 1rem;">{{i.model_post |slice:":250"}}</p>
          <form action="{% url 'readPost' id=i.model_id %}" method="post">
            {% csrf_token %}
  
            <button type="Submit" class="btn btn-primary">Read More</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-3">
      <div class="card card-body">
        <h5 class="card-title fw-bold"> Featured Post</h5>
      </div>
      {% for i in feature %}
      <div class="card card-body mt-3" style="width: auto;">
        <h5 class="card-title fw-bold"> {{i.model_title}}</h5>
        <p class="card-text" style="margin-top: 1rem;">{{i.model_post |slice:":150"}}</p>
        <a href="{% url 'readPost' id=i.model_id %}" class="btn btn-primary">Read</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
      

    
    <!-- <style>
      div {
        display: inline-block;
      }
      .post{
        width: 250px;
        background-color: black;
      }
    </style> -->
{% endblock %}

    
